body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #9f0040;
    color: white;
    padding: 10px;
    text-align: center;
}

input#search {
    padding: 10px;
    margin: 20px;
    width: 300px;
}

button#add-definition {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

#pet-definitions {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.pet-item {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

button.like-button {
    background-color: #f0ad4e;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
