/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #8b0d46;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    height: 40px;
}

.navbar-search input {
    padding: 5px;
    font-size: 16px;
}

.navbar-search button {
    padding: 6px 12px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
}

/* Contenedor principal con Flexbox */
.main-container {
    display: flex;
    margin: 20px;
    width: calc(100% - 40px); /* Ajusta el ancho restando márgenes */
}

.sidebar {
    width: 250px; 
    height: 400px;
    margin-right: 20px; /* Espacio entre sidebar y los resultados */
}

.results {
    flex-grow: 1; /* Permite que la sección de resultados ocupe el espacio restante */
}

.pet-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.pet-card h2 {
    margin-top: 0;
}

.btn-more {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-more:hover {
    background-color: #45a049;
}

/* Panel lateral */
.sidebar-content {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f4f4f4;
}

.btn-add {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.btn-add:hover {
    background-color: #0056b3;
}

  